
.sidebar {
  display: flex;
  flex-direction: column;

  width: 300px;
  max-width: 300px;
  height: 95vh;
  max-height: 95vh;

  padding-top: 5vh;
  filter: drop-shadow(50 1 50 black);

  overflow-y: auto;
  overflow-x: hidden;
  background-color: #242830;
}

.title {
  color: white;
  text-align: left;
  padding: 64px 0 16px 8px;

  border: 1px solid rgb(192, 192, 192);
  border-top: 0;
  border-left: 0;
}

.item {
  font-size: calc(10px + 1.25vmin);
  color: white;
  text-align: left;
  padding: 4px 32px;

  border: 1px solid rgb(192, 192, 192);
  border-top: 0;
  border-left: 0;
}

.doc-content {
  width: 100%;
  margin: 2.5% 0;
}
