# .gitignore
#  Standardised Overlord Web Client gitingore file
#  You may need to add your own exceptions

# Developer
.vscode/
.idea/

# Python
.pytest_cache
__pycache__

# Node & NPM
.env
build/
web-build/
node_modules/
*.tsbuildinfo
*.log
*.key

# Shared
src/shared/*
!src/shared/components/routes/routes.tsx
