
# Developer Envrionment
.vscode/
.idea/

# Overlord (Files)
/o
*.key
/web/urls.py
api/migrations/*.py
!api/migrations/__init__.py

# Overlord (Directories)
.logs/*
.config/*
.temp/*
clients/*/build/*
clients/*/src/shared/*
static/*
static/.temp/*
static/assets/users/*
build/
# ---
!static/admin/
!static/default_react/

# Overlord (Clients)
clients/
!clients/admin/
!clients/default_angular/
!clients/default_react/
!clients/shared/

# Sqlite (Files)
*.sqlite3
*.sqlite3-journal

# Python (Temp)
.pytest_cache
__pycache__

# Logs (Temp)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TypeScript (Temp)
*.tsbuildinfo

# NPM (Temp)
.env
/env
.npm
/npm
node_modules

# ESlint (Temp)
.eslintcache

# Misc (Files)
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
