body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202029;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  overflow: hidden;
  text-align: left;
  align-items: left;
  justify-content: space-between;
  top: 0;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 48px;
  max-height: 48px;
  background-color: #202029;
}

header>img {
  width: auto;
  height: 36px;
  padding: 7px 2.5%;
  user-select: none;
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
}

nav>a {
  width: 100%;
  padding: 12px 0;
  border-right: 1px solid rgba(44, 44, 44, 0.44);
  font-size: larger;
  color: white;
  text-decoration: none;
  user-select: none;
}

nav>a:hover {
  opacity: 50%;
}

p {
  margin: 2% 2% 10% 2%;
  max-width: 800px;
}

a {
  color: #c4c4c4;
  text-decoration: none;
}

img {
  user-select: none;
  pointer-events: none;
}

h1, p {
  margin: unset;
  padding: 1% unset;
  word-wrap: break-word;
}

.home-content {
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  top: 48px;
  left: 0;
  height: calc(100vh - 48px);
  width: 100vw;

  color: white;
  font-size: calc(8px + 1.8vmin);
}

.page-content {
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: column;
  align-items: left;
  overflow: auto;

  top: 48px;
  left: 0;
  height: calc(100vh - 48px);
  width: 100vw;

  color: rgb(40, 44, 52);
  background-color: #e5e7eb;
  font-size: calc(10px + 2vmin);
}

.error-page-content {
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  top: 48px;
  left: 0;
  height: calc(100vh - 48px);
  width: 100vw;

  color: rgb(40, 44, 52);
  background-color: #e5e7eb;
  font-size: calc(10px + 2vmin);
}

.inner-glow:hover {
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(75, 75, 75, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-evenly {
  align-items: center;
  justify-content: space-evenly;
}
