body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  height: 10vh;
  min-width: 100vw;
  min-height: 32px;
  max-height: 48px;
}

header>a {
  width: 50%;
  padding: 12px 0;
  border-right: 1px solid black;

  font-size: larger;
  color: white;
  text-decoration: none;

  background-color: #353b46;
}

.home-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  color: white;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.page-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: left;

  height: 100vh;

  color: rgb(40, 44, 52);
  background-color: #e5e7eb;
  font-size: calc(10px + 2vmin);
}

.error-page-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  height: 33vh;
  padding: 33vh 0;

  color: rgb(40, 44, 52);
  background-color: #e5e7eb;
  font-size: calc(10px + 2vmin);
}
